<!--<div id="msgBox" class="panel panel-danger" style="width: 300px;height: 200px;position: fixed;bottom: -200px;right: 0;">
    <div class="panel-heading" style="clear: both;height: 38px">
        <h3 class="panel-title"  style="float: left"> 消息提示</h3>
        <span id="msgBoxClose" class="badge" style="float: right;cursor:pointer">&times;</span>
    </div>
    <div id="msgBoxBody" class="panel-body">
        新用户注册，请及时审批！
    </div>
</div>  -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="<%= staticResourceUrl %>/js/jquery-1.11.3.min.js"></script>
<script src="<%= staticResourceUrl %>/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="<%= staticResourceUrl %>/js/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="<%= staticResourceUrl %>/js/ie10-viewport-bug-workaround.js"></script>
<script src="<%= staticResourceUrl %>/js/share.js"></script>

<script src="../js/admin.js"></script>
</body>
</html>