<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>管理登陆</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= staticResourceUrl %>/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= staticResourceUrl %>/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="<%= staticResourceUrl %>/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="<%= staticResourceUrl %>/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%= staticResourceUrl %>/js/html5shiv.min.js"></script>
    <script src="<%= staticResourceUrl %>/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <form class="form-signin" method="post" action="/system/checkLogin">
        <h2 class="form-signin-heading">管理员登录</h2>
        <label for="inputEmail" class="sr-only">用户名</label>

        <% if(message.length>5) { %>  <span class="badge" style="color: yellow"><%= message%></span> <%}%>
        <input name="registerName" type="text" id="inputEmail" value="2538291@qq.com" class="form-control" placeholder="用户名">
        <label for="inputPassword" class="sr-only">密码</label>
        <input name="password" type="password" id="inputPassword" value="admin" class="form-control" placeholder="密码" value="123456">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>

        <input type="hidden" name="redirect" value="/admin/flow">
        <input type="hidden" name="backup" value="/admin/login?code=NOT_PASS">
    </form>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="<%= staticResourceUrl %>/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
