<div class="idx_footer">
    <div class="idx_footer_center">
        <span>版权所有：2014-2015 某某集团</span>
    <span><a href="http://www.lenovo.com.cn" target="_blank">某某官网</a>｜ <a
                href="<%= staticResourceUrl %>/developer/footer/foot_contact.jsp">联系我们</a>｜<a
                href="<%= staticResourceUrl %>/developer/footer/foot_copyright.jsp">版权投诉条款</a>｜<a
                href="<%= staticResourceUrl %>/developer/footer/foot_law.jsp">法律公告</a>｜<a
                href="<%= staticResourceUrl %>/developer/footer/foot_protection.jsp">隐私保护</a>｜京ICP证010221号
     <label>京公网安备110108003180号|<a href="<%= staticResourceUrl %>/developer/images/network_culture.jpg"
                                  target="_blank">网络文件经营许可证　文网文：2014-0051-0001号</a>｜<a
                 href="http://developer.lenovomm.comhttp://127.0.0.1:8880/PlugStore/developer/images/business_licens.jpg"
                 target="_blank">增值业务经营许可证：B2-20100103</a></label></span>
    </div>
</div>

<div id="FloatDIV" name="FloatDIV">
    <ul class="float-ul">
        <li class="float-li-1"><strong>首发、换量、技术咨询</strong></li>
        <li class="float-li-2">
            <em>在线客服 : </em>
	    	<span>
	    		<img style="CURSOR:pointer"
                     onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&sid=800059431&eid=2188z8p8p8p8R808Q8P8q&o=http://open.lenovo.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"
                     border="0" SRC="<%= staticResourceUrl %>/developer/images/qqkf.jpg">
	    	</span>
        </li>
        <li class="float-li-3">Email: <a class="f14" href='mailto:mmsupport@lenovo.com'>mmsupport@lenovo.com</a></li>
        <li>客服电话：028-85140581</li>
        <li class="float-li-4">在线时间：9:30-18:00</li>
    </ul>
</div>


<script src="<%= staticResourceUrl %>/developer/js/jquery-1.5.2.min.js" type="text/javascript" language="javascript"></script>
<script src="<%= staticResourceUrl %>/developer/js/tab.js" language="javascript"></script>
<script src="<%= staticResourceUrl %>/developer/js/main.js" type="text/javascript" language="javascript"></script>
<script src="<%= staticResourceUrl %>/developer/js/jqModal.js" language="javascript" type="text/javascript"></script>
<script src="<%= staticResourceUrl %>/developer/js/Impromptu.js" language="javascript" type="text/javascript"></script>
</body>
</html>