<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="<%= staticResourceUrl %>/developer/css/jqModal.css"/>
    <link rel="stylesheet" type="text/css" href="<%= staticResourceUrl %>/developer/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="<%= staticResourceUrl %>/developer/css/frame.css"/>
    <link rel="stylesheet" type="text/css" href="<%= staticResourceUrl %>/developer/css/page.css"/>
    <link href="<%= staticResourceUrl %>/developer/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="<%= staticResourceUrl %>/developer/js/pv_count.js" language="javascript" type="text/javascript"></script>
    <link href="<%= staticResourceUrl %>/developer/css/index_style.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="idx_headerBox">
    <div class="idx_centerPanel">
        <div class="idx_logo">
            <ul>
                <li class="my_logo"><img style="padding-top: 10px" width="45" height="45" src="<%= staticResourceUrl %>/developer/img/logo.png"/></li>
                <li><a href="<%= staticResourceUrl %>">插件商店市场</a></li>
            </ul>
        </div>
        <div class="idx_mainMenu">
            <ul>
                <li><a class="" href="http://119.29.16.116/assets/index.html">首页</a></li>
                <li class="active"><a class="active" href="/developer/manage">管理</a></li>
                <li><a href="/developer/doc">开发文档</a></li>
                <li><a href="/developer/comment">我的评论</a></li>
                <li><a href="/developer/help">帮助</a></li>
            </ul>
        </div>

        <div class="idx_loginMenu">
            <% if (registerName) { %>
                <a href="#">欢迎您,<%= registerName %></a><em></em><a href="/developer/logout">退出</a>
            <% } else { %>
                <a href="/developer/register">注册</a><em></em><a href="/developer/login">登录</a>
            <% } %>

        </div>
    </div>
</div>
<input type="hidden" id="topFlag" value='null'/>

<div id="msgDiv" style="height: 20px;background-color: #eee;text-align: center;">
    <span id="msgSpan" style="color: red;font-size: 12px;display: none;">为避免可能存在的浏览器兼容问题，建议您使用Firefox或Chrome浏览器</span>
</div>