 <div id="my-app-nav">
            <div id="sub-nav">
                <h1 class="show">应用管理</h1>
                <ul class="show-class">
                    <li><a href="<%= staticResourceUrl %>/developer/queryApp.jspx?curr_query_state=5"
                           class="active">我的应用</a></li>
                    <!-- <li><a href="<%= staticResourceUrl %>/developer/queryApp.jspx?curr_query_state=5" class="">更新应用</a></li> -->
                    <li><a href="<%= staticResourceUrl %>/developer/upload_step1.jspx?isNew=true"
                           class="">上传新应用</a></li>

                </ul>
                <h1 class="show" style="border-top-width: 1px;">数据查询</h1>
                <ul class="show-class">

                    <li><a href="<%= staticResourceUrl %>/developer/queryCpdFirst.jspx" class="">CPD查询</a></li>

                    <li><a href="<%= staticResourceUrl %>/developer/showDownloadCount.jspx" class="">下载量查询</a>
                    </li>
                    <li><a href="<%= staticResourceUrl %>/developer/queryAppListFirst.jspx" class="">销售查询</a>
                    </li>
                    <li><a href="<%= staticResourceUrl %>/developer/uninstallQuery.jspx" class="">卸载量查询</a></li>


                </ul>
                <h1 class="show" style="border-top-width: 1px;">帐户信息</h1>
                <ul class="show-class">
                    <li><a href="<%= staticResourceUrl %>/developer/view_devCooperate.jspx" class="">帐户设置</a>
                    </li>

                </ul>
              <!--
                <h1 class="show" style="border-top-width: 1px;">联运合作</h1>
                <ul class="show-class">
                    <li><a href="<%= staticResourceUrl %>/developer/newopenappid_reg.jspx" class="">创建应用</a></li>
                    <li><a href="<%= staticResourceUrl %>/developer/getallopenappidinfo.jspx" class="">我创建的应用</a>
                    </li>
                </ul>
                <h1 class="show" style="border-top-width: 1px;">申请推广</h1>
                <ul class="show-class">
                    <li><a href="<%= staticResourceUrl %>/developer/appApply.jspx" class="">首发申请</a></li>
                    <li><a href="<%= staticResourceUrl %>/developer/gotoWelfarePublish.jspx" class="">福利发布申请</a>
                    </li>
                    <li><a href="<%= staticResourceUrl %>/developer/gotoRecommend.jspx" class="">新品推荐申请</a></li>
                    <li><a href="<%= staticResourceUrl %>/developer/gotoOfficialAuth.jspx" class="">官方认证申请</a>
                    </li>
                    <li><a href="<%= staticResourceUrl %>/developer/applyTopic.jspx" class="">专题收录申请</a></li>
                </ul>

                <h1 class="show" style="border-top-width: 1px;">推广</h1>
                <ul class="show-class">
                    <li><a href="<%= staticResourceUrl %>/developer/forwordAdvertPlan.jspx" class="">制定推广计划</a>
                    </li>
                    <li><a href="<%= staticResourceUrl %>/developer/forwordRecharge.jspx" class="">已充值金额录入</a>
                    </li>
                </ul>
                <h1 class="show" style="border-top-width: 1px;">应用认领</h1>
                <ul class="show-class">
                    <li><a href="<%= staticResourceUrl %>/developer/appclaim.jspx" class="">认领应用</a></li>
                    <li><a href="<%= staticResourceUrl %>/developer/getallclaimedapps.jspx" class="">我认领的应用</a>
                    </li>
                    <li><a href="<%= staticResourceUrl %>/developer/getallappsclaimedbyothers.jspx" class="">被认领的应用</a>
                    </li>
                </ul>
                -->
                <h1 class="show" style="border-top-width: 1px;">系统消息</h1>
                <ul class="show-class">
                    <li style="position: relative;"><a href="<%= staticResourceUrl %>/developer/getMessage.jspx"
                                                       class="">消息</a><span class="round">●</span></li>
                    <li style="position: relative;"><a href="<%= staticResourceUrl %>/developer/getNotices.jspx"
                                                       class="">提醒</a><span class="round">●</span></li>
                </ul>
            </div>
        </div>