<%- include _header %>

<div id="my-app-container">
    <div id="my-app-content" class="clear">
        <%- include _navigator %>

        <div id="my-app-con">
            <div class="frame-content">
                <h1>我的应用</h1>
                <div class="app-title-1" id="app-title">
                    <ul id="app-title-taps">
                        <li><a id="tap_s0" href="#0" class="span-2-active">申请提交</a></li>
                        <li><a id="tap_s1" href="#3" class="span-3">待测试</a></li>
                        <li><a id="tap_s2" href="#5" class="span-4">通过测试</a></li>
                        <li><a id="tap_s3" href="#2" class="span-1">未通过测试</a></li>
                        <li><a id="tap_s4" href="#9" class="span-2">在架中</a></li>
                        <li><a id="tap_s5" href="#1" class="span-1">已下架</a></li>
                        <li class="app-li-1"><a id="tap_s6" href="#4" class="span-3">冻结中</a>
                        </li>
                    </ul>
                    <div id="app-title-bg" class="app-title-bg-1" style="left:440px"></div>
                </div>
                <div id="app-form-search">
                    <table>
                        <tr>
                            <td><label for="app-form-search-input">插件名称：</label></td>
                            <td><input type="text" id="myQueryAppName" value=""
                                       class="input-class"/>
                                &nbsp;&nbsp;&nbsp;</td>
                            <td><input type="button" value="查询" id="query-btn"
                                       class="btn-class"/></td>
                        </tr>
                    </table>
                </div>
                <p class="app-notice">
                    如果您上传的应用没有提交是无法正式上架的，请您确认后提交测试，测试通过后即可上架！
                </p>

                <div id="bim_app_container">
                </div>

            </div>
        </div>


    </div>
</div>

<div id="poplogn1" class="jqmWindow" style="z-index:99999;">
    <div class="con" style="display:block">
        <table width="320" border="0" cellpadding="0" cellspacing="0"
               bgcolor="#FFFFFF">
            <tr>
                <td colspan="2">
                    <a href="javascript:;" class="close"><img
                                src="<%= staticResourceUrl %>/developer/images/xiugaijiage.gif" alt="修改价格"
                                width="320" height="34"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td height="20" colspan="2">
                    <div id="ts" style="color: red" align="center"></div>
                </td>
            </tr>
            <tr id="priceInput">
                <td width="90" height="26" style="padding-left: 30px">
                    定价：
                </td>
                <td width="233">
                    <input name="appPrices" id="appPrices" type="text" class="input" size="10"/>&nbsp;&nbsp;<span
                            class="gray">价格须为整数</span>
                    <input name="appids" id="appids" type="hidden" value=""/>
                </td>
            </tr>
            <tr>
                <td width="90" height="26" style="padding-left: 30px">
                    说明：
                </td>
                <td width="233">
                    <textarea name="pricesnote" id="pricesnote"
                              style="width: 170px;resize:none;border:1px solid #999999"></textarea>
                </td>
            </tr>
            <tr>
                <td height="50" colspan="2" align="center">
                    <img src="images/tijiao.gif" alt="提交" width="71" height="19" onclick="gradedt();"/>
                    <img src="images/quxiao.gif" alt="取消" width="71" height="19"
                         onclick="javascript:hidePopwindow('poplogn1');"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="bottom"></div>
</div>

<div id="poplogn2" class="jqmWindow" style="z-index:99999;">
    <div class="con" style="display:block">
        <table width="320" border="0" cellpadding="0" cellspacing="0"
               bgcolor="#FFFFFF">
            <tr>
                <td colspan="2">
                    <a href="javascript:;" class="close"><img
                                src="<%= staticResourceUrl %>/developer/images/xiugaizhifu.gif" alt="修改支付方式"
                                width="320" height="34"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="tss" style="color: red" align="center"></div>
                </td>
                <td>
                    <input name="appLcaid" id="appLcaid" type="hidden" value=""/>
                    <input name="initAppPrices" id="initAppPrices" type="hidden" value=""/>
                </td>
            </tr>
            <tr id="isMesg1">
                <td width="90" height="26" style="padding-left: 25px">
                    支持短信支付：
                </td>
                <td><input id="yes1" name="support" type="radio"/>是&nbsp;&nbsp;
                    <input id="no1" name="support" type="radio"/>否
                </td>
            </tr>
            <tr>
                <td width="90" height="26" style="padding-left: 25px">
                    短信支付规则：
                </td>
                <td>结算金额=实际收到的短信款项*55%*分成比例</td>
            </tr>
            <tr>
                <td height="50" colspan="2" align="center">
                    <img src="images/tijiao.gif" alt="提交" width="71" height="19" onclick="gradedt2();"/>
                    <img src="images/quxiao.gif" alt="取消" width="71" height="19"
                         onclick="javascript:hidePopwindow('poplogn2');"/>
                </td>
            </tr>
        </table>
    </div>
    <div class="bottom"></div>
</div>

<div id="poplogn3" class="ckWindow jqmWindow" style="z-index:99999; width:734px;margin-left:-269px;">
    <div class="pop_bar">
        <div class="bar">
            <h2>测试未通过原因</h2>

            <div class="fright"><a onclick="javascript:hidePopwindow('poplogn3');" href="javascript:;">Close </a></div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="pop_content">
        <div class="form_main">
            <table width="100%" class="table_two" border="1">
                <tbody>
                <tr id="flowResultList">
                    <td><span class="black">检测项</span></td>
                    <td><span class="black">结果</span></td>
                    <td><span class="black">原因</span></td>
                </tr>
                </tbody>
            </table>
            <div class="ckButton"><input type="button" id="button" value="确定"
                                         onclick="javascript:hidePopwindow('poplogn3');"/></div>
        </div>
    </div>
</div>

<div id="poplogn4" class="ckWindow jqmWindow" style="z-index:99999; width:505px;">
    <div class="pop_bar">
        <div class="bar">
            <h2>申请下架</h2>

            <div class="fright"><a onclick="javascript:hidePopwindow('poplogn4');" href="javascript:;">Close </a></div>
        </div>
    </div>
    <div style="clear:both"></div>
    <form id="applyFrom" name="applyFrom">
        <div class="pop_content">
            <div class="form_main1">
                <div class="xjH1">下架原因</div>
                <span id="applyInfo" class="red"></span>
                <textarea class="xjTex" name="applyRemark" id="applyRemark"></textarea>
                <input name="applyLcaid" type="hidden" id="applyLcaid"/>

                <div>
                    <p>
                        <label>
                            <input type="radio" name="applyType" value="0" id="defaultRadio_1"/>
                            下架应用当前版本</label>
                        <label>
                            <input type="radio" name="applyType" value="1" id="defaultRadio_2"/>
                            下架应用所有版本</label>
                        <br/>
                    </p>
                </div>
                <div class="ckButton"><input type="button" value="确定" onclick="javascript:applyUndercarriage();"/>
                    <input onclick="javascript:hidePopwindow('poplogn4');" type="button" value="取消"/></div>
            </div>
        </div>
    </form>
</div>

<div id="errorPop" class="ckWindow jqmWindow" style="z-index:99999; width:505px;padding:0;margin-top: 155px;">
    <div style="clear:both"></div>
    <div class="pop_content">
        <div class="form_main1">
            <div id="errorMes"></div>
            <div class="ckButton"><input type="button" onclick="javascript:hidePopwindow('errorPop');" value="确定"/>
            </div>
        </div>
    </div>
</div>




<%- include _footer %>
<script src="/js/developer.js"></script>

<script type="text/javascript">
    (function ($) {
        $("#app-title-taps li a").click(function () {

            var index = parseInt($(this).attr("id").substring(5));

            if (index != 6) {
                $("#app-title-bg").css('left', index * 110);
            } else {
                $("#app-title-bg").css('left', index * 110 - 10);
            }

            var status = $(this).attr("href").substring(1);

            load_app_list(status);

            return false;
        });

        function load_app_list(status) {
            var url_dev_list = "/system/devAppList?status=" + status;
            $.my_ajax_html(url_dev_list, '#bim_app_container');
        }

        load_app_list('9');

        $('#query-btn').click(function () {
            var appname = $("#myQueryAppName").val();

            if (appname == "") {
                alert("请输入查询的字符串……");
                return;
            }

            var queryAppListForDev = "/system/queryAppListForDev?appname=" + appname;

            $.my_ajax_html(queryAppListForDev, '#bim_app_container');
        });

        $("#bim_app_container").delegate("table tr", "click", function () {
            var appid = $(this).attr("appid");
            var url = "/developer/plugInfo?appid=" + appid;
            $.my_ajax_html(url, '#my-app-con');
        });

        $("#my-app-con").delegate(".frame-content .myaccount .tabsh2 a", "click", function () {
            $(this).parent().children().removeClass('active');
            $(this).addClass('active');
            var appid=$(this).attr("appid");
            var type=$(this).attr("type");

            if (type=="comment"){
                var url="/developer/comment?appid="+ appid+"&si=1&pager=0";
                $("#commentContent").show();
                $("#appContent").hide();
                $.my_ajax_html(url, '#commentContent');
            }else{
                $("#commentContent").hide();
                $("#appContent").show();
            }

            return false;
        });

        $("#my-app-con").delegate(".my_review_callback","click", function(){
           $("#replyForm_"+$(this).attr("domId")).show();

           return false;
        });

        $("#my-app-con").delegate(".can_review_callback","click", function(){
            $("#replyForm_"+$(this).attr("domId")).hide();

            return false;
        });

        $("#my-app-con").delegate(".mit_review_callback","click", function(){
            $("#replyForm_"+$(this).attr("domId")).hide();

            var bizId=$(this).attr("bizIdentity"),
                orgId=$(this).attr("originalCommentId"),
                parentId=$(this).attr("parentId"),
                replyDom=$(this).attr("replyDom"),
                textareaId=$(this).attr("textareaId");
            var con=$(textareaId).val();

            var url="/system/addreview?";
            var content="bizIdentity="+bizId+"&originalCommentId="+orgId+"&parentId="+parentId+"&content="+decodeURIComponent(con);

            $.my_ajax_xhtml(url+content,replyDom);

            return false;
        });

        $("#my-app-con").delegate(".grade_callback","click", function(){
            var index=parseInt($(this).attr("id").split("_")[1]);

            $("#starBBox2").val(index);
            for(var i=0;i<=index;i++){
                $("#index_"+i).removeClass('starHollow');
            }

            for(var i=5;i>index;i--){
                $("#index_"+i).addClass('starHollow');
            }
        });

        $("#my-app-con").delegate("#commentHandler_button","click", function(){
            var bizId=$("#commentContent").attr("appid"),
                    grade=$("#starBBox2").val(),
                    content=$("#textareaComment").val();

            var url="/system/addcomment?vi=2&bizIdentity="+bizId+"&grade="+grade+"&content="+decodeURIComponent(content);

            $.my_ajax_xhtml(url,"#commentsBox");
        });










//        $("#my-app-con").delegate("a", "click", function () {
//
//        });

    })($);


</script>

<link href="<%= staticResourceUrl %>/developer/css/add.css" rel="stylesheet" type="text/css"/>



