<%- include _header %>

<div id="my-app-container">
<div id="my-app-content" class="clear">
<%- include _navigator%>

<div id="my-app-con">
<!--上传应用-->
<div class="frame-content">
    <h1>上传应用</h1>
    <p class="text-index-1">填写应用信息，提供展示图片，上传应用程序，您的应用销售之路从此处开始。</p>
    <div class="app-title-2" id="app-title">
        <ul>
            <li class="active new-active app-li-1" id="upload_tap_1"><a>第<em>1</em>步：填写插件信息</a></li>
            <li id="upload_tap_2"><a>第<em>2</em>步：上传插件信息 </a></li>
        </ul>
        <div id="app-title-bg" class="app-title-bg-2" style="left:0px;"></div>

    </div>
</div>

<div id="upload_plug_info">
    <p class="text-index-1">第1步：填写插件信息<span class="color-1">（*为必填项）</span></p>
    <form id="plug_Info_form" name="plug_Info_form" action="/developer/uploadPlugInfo" method="post"  enctype="application/x-www-form-urlencoded" target="hidden_frame_icon">
        <table class="table-class-3" align="center" width="700">
            <tbody>
            <tr id="screenSize">
                <td width="140" class="td-2"><em>*</em>支持的宿主软件&nbsp;：</td>
                <td>

                    <select id="hostapp_id" name="hostapp_id">
                    <!--    <option data="1;2;3;4;" value="121"> 121</option>
                        <option data="2;2;3;4;" value="131">131 </option>
                        <option data="4;2;3;4;" value="141">141</option>
                        <option data="5;2;3;4;" value="151"> 151 </option>  -->
                    </select>

                </td>
            </tr>
            <tr id="screenSize">
                <td width="140" class="td-2"><em>*</em>支持的宿主版本&nbsp;：</td>
                <td id="appHostVersion">
                    (请先选支持的宿主软件）


                </td>
            </tr>

            <tr id="appTypeShow">
                <td width="140" class="td-2"><em>*</em>应用类别&nbsp;：</td>
                <td>
                    <select id="apptype_id" name="apptype_id">
                        <!--
                        <option value="">Autodesk AutoCAD</option>
                        <option>Autodesk AutoCAD</option>
                        <option>Autodesk AutoCAD</option>
                        <option>Autodesk AutoCAD</option>  -->


                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-2"><em>*</em>插件名称&nbsp;：</td>
                <td>
                    <input  name="appname" class="input-class" type="text" value="" size="40">

                </td>
            </tr>

            <tr>
                <td class="td-2"><em>*</em>英文名称&nbsp;：</td>
                <td>
                    <input  name="appEnName" class="input-class" type="text" value="" size="100">
                    <span>包名&nbsp;(系统将默认为packageName)</span>
                </td>
            </tr>

            <tr>
                <td class="td-2"><em>*</em>插件标示UID&nbsp;：</td>
                <td>
                    <input  name="uid" class="input-class" type="text" value="" size="40">

                </td>
            </tr>

            <tr>
                <td class="td-2"><em>*</em>显示版本号&nbsp;：</td>
                <td>
                    <input name="app_version" class="input-class" type="text" value="" size="100">

                </td>
            </tr>

            <tr>
                <td class="td-2"><em>*</em>数字版本号&nbsp;：</td>
                <td>
                    <input name="app_versioncode" class="input-class" type="text" value="" size="100">

                </td>
            </tr>

            <!--
            <tr>
                <td class="td-2" style="line-height: 69px;"><em>*</em>上传图标&nbsp;：</td>
                <td class="td-3"><div class="icondiv">
                        <ul class="icon_list" id="finalIcon">

                            <input class="iconinput" type="file" name="icon_addr" hidefocus="true">
                            <img src="<%= staticResourceUrl %>/developer/images/add1.png" width="64" height="64" alt="点击图标">
                            <div class="gray" style="float:left; margin-left:10px; line-height:30px;width: 380px;">格式png，大小&lt;=500K，图标尺寸256*256，为不影响展示，图标建议控制在50K以内</div>


                        </ul></div>
                </td>
            </tr>-->


            <tr>
                <td class="td-2"><em>*</em>&nbsp;是否付费：</td>
                <td>

                    <input type="radio" name="is_pay" id="chipType" value="1" checked="checked">
                    <label for="chip">是</label>　

                    <input type="radio" name="is_pay" id="chipType" value="0">
                    <label for="chip">否</label>　

                </td>
            </tr>

            <tr>
                <td class="td-2"><em>*</em>价格&nbsp;：</td>
                <td>
                    <input name="app_price" class="input-class" type="text" value="" size="100">
                    <span>元&nbsp;(价格必须为正整数)</span>
                </td>
            </tr>
            <tr>
                <td class="td-2"><em>*</em>文件大小&nbsp;：</td>
                <td>
                    <input name="app_size" class="input-class" type="text" value="" size="100">
                    <span>M&nbsp;(大约多少MB)</span>
                </td>
            </tr>

            <tr>
                <td class="td-2"><em>*</em>发布时间&nbsp;：</td>
                <td>
                    <input name="app_publishdate" class="input-class" type="text" value="" size="100">　
                    <span>时间&nbsp;(yyyy-mm-dd)</span>
                </td>
            </tr>

            <tr>
                <td class="td-2" valign="top">一句话描述&nbsp;：</td>
                <td>
                    <textarea name="app_info" value="" class="textarea-class textarea-class-1" size="60"></textarea>
                    <p>(会在列表中显示，请控制在12-20个字，包括标点符号)</p>

                </td>
            </tr>

            <tr>
                <td class="td-2" valign="top"><em>*</em>简介&nbsp;：<br>
                    (1000字以内)</td>
                <td>
                    <textarea  name="app_abstract"  class="textarea-class" ></textarea>
                    <p>最大长度1000个字符，已经输入<span id="spanWordCount">0</span>个字符,剩余<span id="spanWordCountLeft">1000</span>个字符 </p>
                    注意段落有致，不建议使用特殊字符，语句通顺无错别字，例如：&lt;/br&gt;等

                </td>
            </tr>



            <tr>
                <td class="td-2"><em>*</em>显示开发者名称&nbsp;：</td>
                <td>
                    <input  class="input-class"  type="text" value="ceshi" size="40" maxlength="10">
                    <input  type="hidden" name="developer_id" value="121" />

                </td>
            </tr>

            <tr style="height: 50px">

            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input id="uploadPlugInfoSubmit" type="button"   value="提交申请" class="input-class-1 input-class-2 btn-class disabled">
                    <input type="hidden" value="0" id="recordSubmit"/>
                    <input id="uploadPlugInfoNext" type="button" value="下一步" class="input-class-1 btn-class"></td>
                <iframe name="hidden_frame_icon" id="hidden_frame_icon" style="display: none"></iframe>
            </tr>

            </tbody>
        </table>
    </form>
    <p>温馨小提示：</p>
    <p style="text-indent:2em;">1.提交测试成功后会自动返回到应用管理页，您可以在待测试列表中找到该应用，待测试是指应用已经开始进行审核了</p>
    <p style="text-indent:2em;">2.保存后您可以在等待提交列表找到该应用，亲，等待提交不等于应用在待审核了，需要提交测试才会进入审核状态</p>

</div>


<div id="upload_plug_file" style="display: none">
    <form id="fileFrom" name="fileFrom" action="/developer/uploadFile?fileName=" method="post"
          enctype="multipart/form-data" target="hidden_frame">
    <p class="text-index-1">第2步：上传插件文件<span class="red">（*为必填项）</span></p>
    <table width="750" align="center" class="table-class-3">
        <tbody><tr>
            <td class="td-2" style="width:20%;"><em>*</em> 插件文件：</td>
            <td style="position:relative;">
        			<span style="margin-left:0px;" class="iconuploadbox">

                        <input id="uploadFile" type="file" name="uploadFile">
                            <input type="hidden" name="uploadName" value=""/>
                            <button>选择文件</button>
                            <iframe name="hidden_frame" id="hidden_frame" style="display: none"></iframe>

                    </span>
                <span class="gray">上传文件大小&lt;=400M</span>
                <div class="uploadTip none">
                    <b class="smallCorner"></b>
                    <div id="packageError" class="uploadMes"></div>
                </div>
            </td>
        </tr>
        </tbody></table>

    <table width="750" align="center" class="table-class-3">
        <tbody><tr>
            <td class="td-2" style="width:20%;"><em>*</em> 插件图标：</td>
            <td style="position:relative;">
        			<span style="margin-left:0px;" class="iconuploadbox">

                            <input id="uploadIcon" type="file" name="uploadIcon">
                            <input type="hidden" name="uploadName" value=""/>
                            <button>选择图标</button>

                    </span>
                <span class="gray">上传图标大小&lt;=2M</span>
                <div class="uploadTip none">
                    <b class="smallCorner"></b>
                    <div id="packageError" class="uploadMes"></div>
                </div>
            </td>
        </tr>
        </tbody></table>
    <table width="750" align="center" class="table-class-3">
        <tbody><tr>
            <td width="20%" class="textr">&nbsp;</td>
            <td id="uploadProcess" style="display: none">
                <img  src="<%= staticResourceUrl %>/developer/images/loading.gif" >
                <span id="my_process"></span>
            </td>
        </tr>
        <tr id="debugInfos">
            <td class="td-2">上传信息：</td>
            <td id="programeListTd">


            </td>
        </tr>
        <tr>
            <td >
                <span id="error_tip" style="color: red"></span>
            </td>
            <td>

                <input type="button" id="upload_file_final" class="input-class-1 input-class-2 btn-class" value="提交" >
            </td>
        </tr>

        </tbody></table>

    </form>


</div>







</div>


</div>
</div>

<%- include _footer %>
<script type="text/javascript" src="../js/developer.js"></script>

<script type="text/javascript">
    (function($){
        var url_hostAppName="/system/hostAppName";
        $.my_ajax_html(url_hostAppName,'#hostapp_id');

        var url_apptype ="/system/appType";
        $.my_ajax_html(url_apptype,'#apptype_id');

        $("#hostapp_id").change(function(){
            var versions=$(this).find("option:selected").attr('data').split(";");

            var result=[];
            for(var i=0;i<versions.length-1;i++){
                result.push('<input name="support_version" type="checkbox" value="'+versions[i]+'"/> <label for="version">'+versions[i]+'</label>');
            }
            $("#appHostVersion").html(result.join(''));
            // alert($(this).val());
        });

        var error_msg=undefined;
        var flag_upload=undefined;
        var form=$("#plug_Info_form");
        function toVaild(){

            if (flag_upload==true){
                error_msg='已提交，系统正在处理中……';
                return false;
            }

            if ($(form.attr("hostapp_id")).find("option:selected").val()=='-1'){
                error_msg='请选择宿主软件';
                return false;
            }

            if ($(form.attr("apptype_id")).find("option:selected").val()=='-1'){
                error_msg='请选择支持宿主版本';
                return false;
            }

            if (!$(form.attr("support_version")).attr("checked")){
                error_msg='请选择插件的版本号';
                return false;
            }

            if ($(form.attr("appname")).val().length<3){
                error_msg='插件名称不正确';
                return false;
            }

            if ($(form.attr("appEnName")).val().length<3){
                error_msg='插件英文不正确';
                return false;
            }

            if ($(form.attr("uid")).val().length<3){
                error_msg='插件标示UID不正确';
                return false;
            }

            if ($(form.attr("app_info")).val().length<3){
                error_msg='插件一句话描述不正确';
                return false;
            }

            if ($(form.attr("app_abstract")).val().length<3){
                error_msg='插件简介描述不正确';
                return false;
            }

            if ($(form.attr("app_size")).val().length<1){
                error_msg='插件大小不正确';
                return false;
            }

            var price_reg=/^(\d+)$|^(\d+\.\d+)$/;
            if (!price_reg.test($(form.attr("app_price")).val())){
                error_msg='插件价格不正确';
                return false;
            }

            var reg=/20[1-2]\d-(0[1-9]|1[0-2])-(0[1-9]|[1-2]\d|3[0-1])/;
            if (!reg.test($(form.attr("app_publishdate")).val())){
                error_msg='插件发布时间不正确';
                return false;
            }


            if ($(form.attr("app_version")).val().length<1){
                error_msg='插件版本号不正确';
                return false;
            }


            if ($(form.attr("app_versioncode")).val().length<1){
                error_msg='插件数字版本号不正确';
                return false;
            }

            return confirm("请确认填写的信息是否正确，是否真得要提交！");;
        }


        function doCheck(){
            var count=0;
            var interval= setInterval(function(){
                var body=$(document.getElementById("hidden_frame_icon").contentWindow.document.body).text().toString();

                console.log(body);
                if (body.indexOf("error")!=-1){
                    clearInterval(interval);
                    alert('很抱歉，系统维护中，请稍后在试……');
                    return;
                }
                if(body.indexOf("finished")!=-1||body.indexOf("100%")!=-1){
                    clearInterval(interval);
                    return;
                }


                if (body.indexOf("again")!=-1){
                    clearInterval(interval);
                    alert('很抱歉，系统繁忙中，请稍后在试……');
                    return;
                }

                if(body.indexOf("success")!=-1){
                    clearInterval(interval);
                    alert("插件信息提交成功，请下一步提交插件文件!");
                    return;
                }

                if(body.indexOf("failed")!=-1){
                    clearInterval(interval);
                    alert("提交插件失败，请联系管理人员！");
                    return;
                }

                count+=1;
                if (count==300){
                    clearInterval(interval);
                    alert("本次提交时间延迟，请稍后重试！");
                    return;
                }

            },1000);
        };

        $("#uploadPlugInfoSubmit").click(function(){
            if (toVaild()){
                document.forms["plug_Info_form"].submit();
                doCheck();
                flag_upload=true;
                $("#fileFrom").attr("action", $("#fileFrom").attr("action")+$(form.attr("appEnName")).val());

                $("#recordSubmit").val('1');
            }else{
                alert(error_msg);
            }
        });

        var flg_file=undefined,flg_icon=undefined;
        $("#upload_file_final").click(function(){
            if (flg_file!=true){
                alert("请选择上传的插件文件！");
                return;
            }

            if (flg_icon!=true){
                alert("请选择上传的插件图标！");
                return;
            }

            $("#uploadProcess").show();
            document.forms["fileFrom"].submit();
            var interval= setInterval(function(){
                var body=$(document.getElementById("hidden_frame").contentWindow.document.body).text().toString();

                if (body.indexOf("again")!=-1){
                    clearInterval(interval);
                    alert('很抱歉，系统繁忙中，请稍后在试……');
                    return;
                }

                if(body.indexOf("success")!=-1){
                    clearInterval(interval);
                    $("#uploadProcess").hide();
                    $("#programeListTd").html(body.replace(/(<body>)|(<\/body>)|(:success)/g,'')+",文件已上传成功！");
                    $("#upload_file_next").show();
                    return;
                }

                var url="/developer/queryUploadProcess"
                $.my_ajax_html(url,'#my_process');

            },1000);
        });



        $("#uploadFile").change(function(){
            flg_file=true;
        });
        $("#uploadIcon").change(function(){
            flg_icon=true;
        });

    })($);



</script>
