<table class="app-table-class app-table-class-2">
    <thead>
    <tr>
        <th width="11%">状态</th>
        <th width="12%">插件名称</th>
        <th width="10%">ProuductID</th>
        <th width="12%">宿主软件</th>
        <th width="9%">支持的版本</th>
        <th width="9%">版本号</th>
        <th width="8%">价格</th>
        <th width="9%">大小</th>
        <th width="12%">发布时间</th>
    </tr>
    </thead>
    <tbody>
        <% apps.forEach(function(app){ %>
            <tr appid="<%= app.appid %>">
                <td>
                   <img width="45px" height="45px" src="<%= app.icon_addr %> "/>
                </td>
                <td><%= app.appname %></td>
                <td><%= app.uid %></td>
                <td><%= app.hostAppName %></td>
                <td><%= app.support_version %></td>
                <td><%= app.app_versioncode %></td>
                <td><%= app.app_price %></td>
                <td><%= app.app_size %></td>
                <td><%= app.app_publishdate %></td>
            </tr>
         <% })%>
    </tbody>
</table>
