<div style="background: #fff;">
<ul class="detail-container clear" style="border-bottom: 1px solid #d4d4d4;">
    <li class="detail-img">
        <img src="<%= app.icon_addr %>" width="81" height="80">
    </li>
    <li class="detail-con">
        <h2 style="background: none; padding: 10px 0 0 0; height: 27px;"><%= app.appname %></h2>

        <p>版本名称：<%= app.app_version %></p>
    </li>
</ul>
<div class="detailComment block">
<div class="commentHeader oh borderbtm4">
    <div class="scores fl">
        <div class="averageScore fl border1-5 tcenter">
            <p class="f16 ff-wryh fb aveTitle bggrey2">平均评分</p>

            <div id="avgScore">
                <p class="f18 ff-arial scoreTxt fb"><%= commentPercent.averageStar%></p>

                <p class="starBBox bcenter">

                    <%var cLen=Math.round(parseFloat(commentPercent.averageStar)) ;for(var ii=1;ii<=cLen;ii++){%>
                        <i class="icons starB starSolid"></i>
                    <%}%>
                </p>

                <p class="f16 ff-wryh fgrey5 userTotal">
                    <var style="font-style: normal;"><%=commentPercent.totalComment%></var>人
                </p>
            </div>
        </div>

        <ul class="scores fl" id="scores">
            <li><label class="fgrey5">5星</label>

                <p class="bggrey2">
                    <span class="h-100 bgblue2" style="width:<%= commentPercent.numberOfFiveStars%>"></span>
                </p> <var class="fgrey1 f12"><%= commentPercent.numberOfFiveStars%></var></li>
            <li><label class="fgrey5">4星</label>

                <p class="bggrey2">
                    <span class="h-100 bgblue2" style="width:<%= commentPercent.numberOfFourStars%>"></span>
                </p> <var class="fgrey1 f12"><%= commentPercent.numberOfFourStars%></var></li>
            <li><label class="fgrey5">3星</label>

                <p class="bggrey2">
                    <span class="h-100 bgblue2" style="width:<%= commentPercent.numberOfThreeStars%>"></span>
                </p> <var class="fgrey1 f12"><%= commentPercent.numberOfThreeStars%></var></li>
            <li><label class="fgrey5">2星</label>

                <p class="bggrey2">
                    <span class="h-100 bgblue2" style="width:<%= commentPercent.numberOfTwoStars%>"></span>
                </p> <var class="fgrey1 f12"><%= commentPercent.numberOfTwoStars%></var></li>
            <li><label class="fgrey5">1星</label>

                <p class="bggrey2">
                    <span class="h-100 bgblue2" style="width: <%= commentPercent.numberOfOneStar%>"></span>
                </p> <var class="fgrey1 f12"><%= commentPercent.numberOfOneStar%></var></li>
        </ul>
    </div>


    <div class="commentFormBox fl">
        <i class="icons divLine fl ml10"></i>

        <form class="fl" action="/developer/saveComment.jspx" method="post">
            <div class="commentForm" id="commentForm">
                <div item="comment">
                    <div class="mb10 oh fgrey5 formHeader">
                        <span class="fl">我要评分</span>

                        <p class="starBBox fl ml10 gesture" score="5">
                            <i id="index_1" class="grade_callback icons starB starSolid"></i>
                            <i id="index_2" class="grade_callback icons starB starSolid"></i>
                            <i id="index_3" class="grade_callback icons starB starSolid"></i>
                            <i id="index_4" class="grade_callback icons starB starSolid starHollow"></i>
                            <i id="index_5" class="grade_callback icons starB starSolid starHollow"></i>
                            <input type="hidden" id="starBBox2" value="3">
                        </p>
                        <span class="fr tipMsg f12">您可以输入<span class="fred">140</span>个字</span>
                    </div>
                    <div class="divTextarea">
                        <span class="errorMsg pa w-100 tcenter"></span>
                        <textarea id="textareaComment" class="mb10 fgrey4" name="cnt" filled="n" style="color: rgb(153, 153, 153);" maxlength="140"></textarea>
                    </div>
                </div>
                <p class="commentHandler">
                   <input id="commentHandler_button" type="button" style="border: none;" class="icons tcenter fwhite ff-wryh commentBtn fl" value="发表评论">
                    <!--<span style="color: red">提交过于频繁,请稍后继续.</span> -->
                </p>
            </div>
        </form>
    </div>
</div>


<ul class="commentsBox cb oh" id="commentsBox">
<%var count=0 ;for(var index in comments){count++;
    var comment=comments[index].comment, replys=comments[index].replys, grade=comment?comment.grade:0;%>

    <li class="borderbtm4 oh">
        <div class="avatar border1 fl">
            <img src="http://snspic.lenovomm.com/snsimg/pic/get/-1" class="icons bcenter">
        </div>
        <div class="commentRight fl">
            <div class="clear">
                <span class="fl fgrey5"><%= comment.userName%></span>
                <p class="starMBox fl ml10">
                 <% for(var j=1;j<=grade;j++){%>
                    <i class="icons starM starSolid"></i>
                 <%}%>
                </p>
            </div>
            <p class="description cl fgrey5"><%= comment.content%></p>

            <p class="fgrey4 commentBtm">
                <a href="#" id="" class="my_review_callback fblue simpleBtn tcenter fr" domId="<%=count%>">回复(<%= replys.length%>)</a>
                <span>来自:<var><%= comment.from%></var></span>
                <span>发表时间:<var><%= comment.createDate%></var></span>
            </p>
        </div>
        <div class="replyForm fl mt10 w-100" style="display: none;" id="replyForm_<%=count%>">
            <div class="divTextarea">
                <span class="errorMsg pa w-100 tcenter"></span>
                <textarea id="textarea_reply_<%= count%>" class="mb10 fgrey4 w-100" name="reply" maxlength="140">@<%= comment.userName%>:</textarea>
            </div>
            <p class="replyHandler">
                <span class="fl tipMsg f12">您可以输入<span class="fred">140</span>个字</span>
                <a domId="<%= count%>" href="#" class="mit_review_callback fblue simpleBtn tcenter fr" bizIdentity="<%= comment.bizIdentity%>" originalCommentId="<%= comment.originalCommentId%>" parentId="<%= comment.id%>" replyDom="#commentForReplyID_<%=count%>" textareaId="#textarea_reply_<%= count%>">回复</a>
                <a domId="<%= count%>" href="#" class="can_review_callback fblue simpleBtn tcenter fr borderno mr10 cancelBtn">取消</a>
            </p>
        </div>

        <div  class="commentsSub fl w-100">
            <i class="icons replyArrow"></i>
            <ul id="commentForReplyID_<%=count%>" class="bggrey1 fl">
                <% var pCount=count;for(var i in replys){var reply=replys[i];count++;%>
                <li class=" oh fl  ">
                    <div class="avatar border1 fl">
                        <img src="http://snspic.lenovomm.com/snsimg/pic/get/-1" class="icons bcenter">

                    </div>
                    <div class="commentRight fl">
                        <div class="clear">

                            <span class="fl fgrey5"><%= reply.userName%></span>
                        </div>
                        <p class="description cl fgrey5"><%= reply.content%></p>

                        <p class="fgrey4 commentBtm">
                            <a href="#" class="my_review_callback fblue simpleBtn tcenter fr" domId="<%=count%>">
                                回复
                            </a>
                            <span>来自:<var><%= reply.from%></var></span>
                            <span>发表时间:<var><%= reply.createDate%></var></span>
                        </p>
                    </div>

                    <div class="replyForm fl mt10 w-100" style="display: none" id="replyForm_<%=count%>">
                        <div class="divTextarea">
                            <span class="errorMsg pa w-100 tcenter"></span>
                            <textarea id="textarea_reply_<%= count%>" class="mb10 fgrey4 w-100" name="reply" maxlength="140">@<%= reply.userName%>:</textarea>
                        </div>
                        <p class="replyHandler">
                            <span class="fl tipMsg f12">您可以输入<span class="fred">140</span>个字</span>
                            <a href="#" domId="<%= count%>" class="mit_review_callback fblue simpleBtn tcenter fr"  bizIdentity="<%= reply.bizIdentity%>" originalCommentId="<%= reply.id%>" parentId="<%= comment.id%>" replyDom="#commentForReplyID_<%=pCount%>" textareaId="#textarea_reply_<%= count%>" >回复</a>
                            <a href="#" domId="<%= count%>" class="can_review_callback fblue simpleBtn tcenter fr borderno mr10 cancelBtn">取消</a>
                        </p>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>

    </li>
<%}%>
</ul>
<div class="page_box">
    <div class="pagenav tcenter f12 bcenter" id="pageBar">
        <a href="/developer/appCommentsInTab.jspx?id=10214209&amp;pagenum=1">首页</a>


        <span class="active">1</span>


        <a href="/developer/appCommentsInTab.jspx?id=10214209&amp;pagenum=1">尾页</a>
    </div>
</div>
</div>
</div>









