<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>插件申请</strong> 当现在为止，共有<%= users.length %>个插件申请审批.
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>序号</th>
        <th>申请时间</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>qq</th>
        <th>wechat</th>
        <th>简介</th>
    </tr>
    </thead>
    <tbody>
    <% var i=1;users.forEach(function(dev){ %>
        <tr id="dev_<%= dev.user_id %>">
            <td><%= i++ %></td>
            <td><%= dev.registerDate %></td>
            <td><%= dev.registerName %></td>
            <td><%= dev.email %></td>
            <td><%= dev.phone %></td>
            <td><%= dev.qq%></td>
            <td><%= dev.wechat%></td>
            <td><%= dev.remark%> <div></div></td>
        </tr>
    <% }) %>
    </tbody>
</table>