
<div class="col-sm-15 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="tableDemo" style="width: 890px">
        <table id="sprintlist_table" cellspacing="0" cellpadding="10" data-table="dnd" class="indtd" style="white-space: nowrap;">
            <thead id="sprintlist_header">
            <tr style="cursor: move;font-size:14px">
                <th class="end_date" style="width:100px">序号</th>
                <th class="end_date" style="width:330px">code</th>
                <th class="name" style="width:330px">名称</th>
                <th class="actions" style="width:120px">操作</th>
            </tr>
            </thead>
            <tbody style="font-size:14px">
            <%var i=1 ;apptypeRoots.forEach(function(apptypeRoot){ %>
                <tr id="<%= apptypeRoot.id %>" table="bim_apptype_info" col_id="id">
                <td><%= i++%></td>
                <td><%= apptypeRoot.code %></td>
                <td><%= apptypeRoot.name %></td>
                <td class="small_buttons">
                    <div>
                        <button title="编辑一级分类" divID="add_app_type_root" id="<%= apptypeRoot.id%>" code="<%= apptypeRoot.code %>" name="<%= apptypeRoot.name %>"  class="list_edit">编辑</button>
                        <button class="list_delete">删除</button>
                    </div>
                </td>
                </tr>
            <% }) %>

            <tr class="group_heading nodrag">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr >
                <td></td>
                <td></td>
                <td></td>
                <td class="small_buttons">
                    <div>
                        <button divID="add_app_type_root" name="添加一级分类" class="list_add">添加</button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>