<table id="sprintlist_table" cellspacing="0" cellpadding="10" data-table="dnd" class="indtd" style="white-space: nowrap;">
            <thead id="sprintlist_header">
            <tr style="cursor: move;font-size:14px">
                <th class="end_date" style="width:20px">序号</th>
                <th class="name" style="width: 200px">宿主标识</th>
                <th class="end_date" style="width:200px">宿主软件</th>
                <th class="name" style="width: 200px">包名</th>
                <th class="start_date" style="width: 200px">支持的版本</th>
                <th class="name" style="width: 200px">类别</th>


                <th class="actions">操作</th>
            </tr>
            </thead>
            <tbody style="font-size:14px">
            <%var i=1 ;hostApps.forEach(function(hostApp){ %>
                <tr id="<%= hostApp.id %>" table="bim_app_host" col_id="id">
                <td><%= i++%></td>
                    <td><%= hostApp.app_product_id %></td>
                <td><%= hostApp.hostAppName %></td>
                <td><%= hostApp.hostPackageName %></td>
                <td><%= hostApp.own_version %></td>
                    <td><%= hostApp.name %></td>
                <td class="small_buttons">
                    <div>
                        <button title="编辑宿主软件" divID="add_host_app" id="<%= hostApp.id%>" app_product_id="<%= hostApp.app_product_id%>"  hostAppName="<%= hostApp.hostAppNameFull %>" hostPackageName="<%= hostApp.hostPackageNameFull %>"  own_version="<%= hostApp.own_versionFull %>" typeName="<%= hostApp.name %>"  class="list_edit">编辑</button>
                        <button class="list_delete">删除</button>
                    </div>
                </td>
                </tr>
            <% }) %>

            <tr  id="max_type_root_id" class="group_heading nodrag">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr >
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td></td> <td></td>
                <td class="small_buttons">
                    <div>
                        <button divID="add_host_app" title="添加一级分类"  class="list_add">添加</button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>

